<header>
  <div class="navbar-fixed">
    <nav class="demo-page-nav light-blue">
      <div class="nav-wrapper">
        <div class="container-fluid">
          {{#link-to 'index' tagName='li' class="brand-logo white-text hide-on-small-and-down"}}
            {{link-to 'South Carolina Sheltie Rescue' 'index'}}
          {{/link-to}}
          {{#link-to 'index' tagName='li' class="brand-logo white-text hide-on-med-and-up"}}
            {{link-to 'SC Sheltie Rescue' 'index'}}
          {{/link-to}}
          <a href="#" data-activates="page-side-nav" class="button-collapse demo-button-collapse light-blue-text text-darken-3"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </nav>
  </div>
</header>

<ul id="page-side-nav" class="side-nav fixed page-side-nav">
  {{#link-to 'index' tagName='li'}}
    {{link-to 'Home' 'index'}}
  {{/link-to}}
  {{#link-to 'adoption-requirements' tagName='li'}}
    {{link-to 'Adoption Requirement' 'adoption-requirements'}}
  {{/link-to}}
  {{#link-to 'apply-to-adopt' tagName='li'}}
    {{link-to 'Appy to Adopt' 'apply-to-adopt'}}
  {{/link-to}}
  {{#link-to 'apply-to-foster' tagName='li'}}
    {{link-to 'Apply to Foster' 'apply-to-foster'}}
  {{/link-to}}
  {{#link-to 'available-dogs' tagName='li'}}
    {{link-to 'Available Dogs' 'available-dogs'}}
  {{/link-to}}
  {{#link-to 'surrender' tagName='li'}}
    {{link-to 'Surrender a Sheltie' 'surrender'}}
  {{/link-to}}
  {{#link-to 'help-and-advice' tagName='li'}}
    {{link-to 'Help and Advice' 'help-and-advice'}}
  {{/link-to}}
  {{#link-to 'events' tagName='li'}}
    {{link-to 'Rescue Events' 'events'}}
  {{/link-to}}
</ul>
