{{#each pets}}
  <div class="pet-box clearfix panel callout secondary">
    <div class="clearfix pet-header">
      <h2 class="pet-name"><span class="label">{{name}}</span></h2>
      <ul class="options">
        {{#each options}}
          <li>
            {{#if icon}}
              <span>{{text}} <span class="icon-checkmark"></span></span>
            {{else}}
              <strong>{{text}}</strong>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="clearfix pet-body">
      <ul class="clearing-thumbs clearing-feature pet-photos">
        {{#each photos}}
          <li data-src={{src}} class="lg-picture {{#if first}}clearing-featured-img{{/if}}" style="max-width: 12.5rem;">
            <img src={{src}} alt={{alt}}>
          </li>
        {{/each}}
      </ul>
      {{{desc}}}
    </div>
  </div>
{{else}}
  <div class="alert-box" data-alert>
    <p>There are currently no available dogs</p>
  </div>
{{/each}}
