{{title "Adoption Application"}}

<h2 class="headline first">Adoption Application</h2>

{{#liquid-if isSubmitted}}
  <div class="alert-box {{if isError 'alert' 'success'}}">
    <p>{{{respMessage}}}</p>
    {{#if isError}}
      <p>{{{respErrorDesc}}}</p>
    {{/if}}
  </div>
{{/liquid-if}}

<form id="applyToAdoptForm" name="applyToAdoptForm" method="POST" {{action "adoptionApplicationMail" on="submit"}}>

  <p><strong>Please read through the {{link-to 'Adoption Requirements' 'adoption-requirements'}} completely before filling out the application!</strong></p>

  <div class="row">
    <div class="col s6">
      {{md-input name="name" label="Name" required=true}}
    </div>
    <div class="col s6">
      {{md-input name="email" label="Email" type="email" required=true}}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{md-input name="street" label="Street Address" required=true}}
    </div>
  </div>

  <div class="row">
    <div class="col s5">
      {{md-input name="city" label="City" required=true}}
    </div>
    <div class="col s2">
      {{md-input name="state" label="State" required=true}}
    </div>
    <div class="col s2 right">
      {{md-input name="zip" label="Zip" required=true}}
    </div>
  </div>

  <div class="row">
    <div class="col s3">
      {{md-input name="homephone" label="Home phone" required=true}}
    </div>
    <div class="col s3">
      {{md-input name="workphone" label="Work phone"}}
    </div>
    <div class="col s4">
      {{md-input name="occupation" label="Occupation" required=true}}
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <label class="required">Are you employed full-time?</label>
      {{#md-radios optionValuePath='id' optionLabelPath='text' required=true}}
        <p>{{md-radio value="Yes" name="asdf"}}</p>
        <p>{{md-radio value="No" name="jkl"}}</p>
      {{/md-radios}}
    </div>
{{!--     <div class="large-4 columns">
      <label class="required">Are you employed full-time?</label>
      <input id="fulltime_yes" name="fulltime" type="radio" value="Yes" required><label for="fulltime_yes">&nbsp;Yes</label><br>
      <input id="fulltime_no" name="fulltime" type="radio" value="No" required><label for="fulltime_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div> --}}
    <div class="col s4">

      <label class="required">Are you employed full-time?</label>
      {{#md-radios optionValuePath='id' optionLabelPath='text' required=true}}
        <p>{{md-radio value=1 name="Yes"}}</p>
        <p>{{md-radio value=2 name="No"}}</p>
      {{/md-radios}}


      <label class="required">Have you ever owned a Sheltie before?</label>
      <input id="owned_previously_yes" name="owned_previously" type="radio" value="Yes" required><label for="owned_previously_yes">&nbsp;Yes</label><br>
      <input id="owned_previously_no" name="owned_previously" type="radio" value="No" required><label for="owned_previously_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="col s4">
      <label>If so, do you still have that dog?</label>
      <input id="still_have_sheltie_yes" name="still_have_sheltie" type="radio" value="Yes"><label for="still_have_sheltie_yes">&nbsp;Yes</label><br>
      <input id="still_have_sheltie_no" name="still_have_sheltie" type="radio" value="No"><label for="still_have_sheltie_no">&nbsp;No</label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="specific_dog_name">If you are applying to adopt a specific dog, please list the dog's name:</label>
      <input id="specific_dog_name" name="specific_dog_name" type="text">
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="why_adopt" class="required">Why do you want a Shetland Sheepdog?</label>
      <textarea id="why_adopt" name="why_adopt" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="last_dog" class="required">What happened to your last dog?</label>
      <textarea id="last_dog" name="last_dog" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label class="required">During the last five years, have you had a pet become lost or stolen?</label>
      <input id="last_five_lost_pet_yes" name="last_five_lost_pet" type="radio" value="Yes" required><label for="last_five_lost_pet_yes">&nbsp;Yes</label><br>
      <input id="last_five_lost_pet_no" name="last_five_lost_pet" type="radio" value="No" required><label for="last_five_lost_pet_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-4 columns">
      <label class="required">During the last five years, have you had an animal killed by a vehicle?</label>
      <input id="last_five_vehicle_yes" name="last_five_vehicle" type="radio" value="Yes" required><label for="last_five_vehicle_yes">&nbsp;Yes</label><br>
      <input id="last_five_vehicle_no" name="last_five_vehicle" type="radio" value="No" required><label for="last_five_vehicle_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-4 columns">
      <label class="required">During the last five years, have you had an animal die due to disease?</label>
      <input id="last_five_disease_yes" name="last_five_disease" type="radio" value="Yes" required><label for="last_five_disease_yes">&nbsp;Yes</label><br>
      <input id="last_five_disease_no" name="last_five_disease" type="radio" value="No" required><label for="last_five_disease_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="last_five_explain">If you answered yes to any of the the previous three questions, please explain.</label>
      <textarea id="last_five_explain" name="last_five_explain"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="purpose" class="required">For what purpose do you want this dog?</label>
      <textarea id="purpose" name="purpose" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="other_animals">Do you have any other animals? (name, type, age, sex, neutered/spayed)</label>
      <textarea id="other_animals" name="other_animals"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label for="people_at_residence">How many people live at your place of residence?</label>
      <select id="people_at_residence" name="people_at_residence">
        <option value="1" selected> 1 </option>
        <option value="2"> 2 </option>
        <option value="3"> 3 </option>
        <option value="4"> 4 </option>
        <option value="5"> 5 </option>
        <option value="6"> 6 </option>
      </select>
    </div>
  </div>

  <div class="row family-members"> <!-- Familiy Members - START -->
    <div class="large-12 columns">
      <label for="family_member_1_name" class="required">Please list <strong>everyone</strong> who lives in your household and their age.</label>

      <fieldset>
        <div class="large-9 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <label for="family_member_1_name" class="prefix required">Self</label>
            </div>
            <div class="small-9 columns">
              <input id="family_member_1_name" name="family_member_1_name" type="text" required>
              <small class="error">Required</small>
            </div>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <label for="family_member_1_age" class="prefix required">Age</label>
            </div>
            <div class="small-9 columns">
              <input id="family_member_1_age" name="family_member_1_age" type="text" pattern="number" required>
              <small class="error">Number Required</small>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div id="num_of_people" class="num_of_people clearfix"></div>
  </div> <!-- Familiy Members - END -->

  <div class="row">
    <div class="large-4 columns">
      <label for="home_type">Which best describes your place of residence:</label>
      <select id="home_type" name="home_type">
        <option value="House" selected> House </option>
        <option value="Apartment"> Apartment </option>
        <option value="Condo"> Condo </option>
        <option value="Trailer"> Trailer </option>
      </select>
    </div>
    <div class="large-4 columns">
      <label class="required">Do you rent or own?</label>
      <input id="rent" name="rent_own" type="radio" value="Rent" required><label for="rent">&nbsp;Rent</label><br>
      <input id="own" name="rent_own" type="radio" value="Own" required><label for="own">&nbsp;Own</label>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="landlord_permission">If you rent, do you have the landlords permission to keep a dog? (If so, list landlord's name and phone number)</label>
      <textarea id="landlord_permission" name="landlord_permission"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <label class="required">Is your yard fenced?</label>
      <input id="yes_fence" name="yard_type" type="radio" value="Yes" required><label for="yes_fence">&nbsp;Yes</label><br>
      <input id="no_fence" name="yard_type" type="radio" value="No" required><label for="no_fence">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-9 columns">
      <label for="fenced_desc" class="required">If your yard is fenced, describe type and height of fencing. If your yard is not fenced, describe how you will address an adopted dog's bathroom/exercise needs.</label>
      <textarea id="fenced_desc" name="fenced_desc" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="home_during_day" class="required">Do all family adults work and is someone home during the day? (Please explain)</label>
      <textarea id="home_during_day" name="home_during_day" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="indoors_outdoors" class="required">Do you intend to keep this dog primarily indoors or outdoors? Where will it sleep?</label>
      <textarea id="indoors_outdoors" name="indoors_outdoors" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label>Do you have a sex preference?</label>
      <input id="sex_no" name="sex_preference" type="radio" value="No"><label for="sex_no">&nbsp;No</label><br>
      <input id="sex_male" name="sex_preference" type="radio" value="Male"><label for="sex_male">&nbsp;Yes, Male</label><br>
      <input id="sex_female" name="sex_preference" type="radio" value="Female"><label for="sex_female">&nbsp;Yes, Female</label>
    </div>
    <div class="large-6 columns">
      <label for="color_preference">Do you have a color preference? (If yes, please list first and second choices)</label>
      <textarea id="color_preference" name="color_preference"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="older_dog">Would you consider an older dog? To what age?</label>
      <textarea id="older_dog" name="older_dog"></textarea>
    </div>
    <div class="large-6 columns">
      <label for="size_preference">What size Sheltie do you prefer?</label>
      <textarea id="size_preference" name="size_preference"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label class="required">Are other members of your household aware that you are considering adopting a pet?</label>
      <input id="family_aware_yes" name="family_aware" type="radio" value="Yes" required><label for="family_aware_yes">&nbsp;Yes</label><br>
      <input id="family_aware_no" name="family_aware" type="radio" value="No" required><label for="family_aware_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-6 columns">
      <label class="required">Are you prepared to assume the financial responsibilities of caring for an animal? (vaccines, heartworm preventative, veterinarian care, good quality food, licensing, etc.)</label>
      <input id="financial_yes" name="financial_responsibility" type="radio" value="Yes" required><label for="financial_yes">&nbsp;Yes</label><br>
      <input id="financial_no" name="financial_responsibility" type="radio" value="No" required><label for="financial_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label class="required">Are you planning to move in the near future?</label>
      <input id="moving_soon_yes" name="moving_soon" type="radio" value="Yes" required><label for="moving_soon_yes">&nbsp;Yes</label><br>
      <input id="moving_soon_no" name="moving_soon" type="radio" value="No" required><label for="moving_soon_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-4 columns">
      <label class="required">Is anyone in your house allergic to animals?</label>
      <input id="allergic_yes" name="allergic" type="radio" value="Yes" required><label for="allergic_yes">&nbsp;Yes</label><br>
      <input id="allergic_no" name="allergic" type="radio" value="No" required><label for="allergic_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-4 columns">
      <label class="required">Are you familiar with animal control regulations in your area?</label>
      <input id="acr_yes" name="animal_control_regulations" type="radio" value="Yes" required><label for="acr_yes">&nbsp;Yes</label><br>
      <input id="acr_no" name="animal_control_regulations" type="radio" value="No" required><label for="acr_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="gift" class="required">Is this Sheltie going to be a gift? For whom and do they know?</label>
      <textarea id="gift" name="gift" required></textarea>
      <small class="error">Required</small>
    </div>
    <div class="large-6 columns">
      <label class="required">Do you understand that any rescue Sheltie you may adopt through SC Sheltie Rescue will be spayed/neutered?</label>
      <input id="spayed_neutered_yes" name="spayed_neutered" type="radio" value="Yes" required><label for="spayed_neutered_yes">&nbsp;Yes</label><br>
      <input id="spayed_neutered_no" name="spayed_neutered" type="radio" value="No" required><label for="spayed_neutered_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="getting_rid_of_dog" class="required">What circumstances, in your mind, justify getting rid of a dog?</label>
      <textarea id="getting_rid_of_dog" name="getting_rid_of_dog" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label class="required">Are you willing to allow a Rescue representative to visit your home by appointment?</label>
      <input id="home_visit_yes" name="home_visit" type="radio" value="Yes" required><label for="home_visit_yes">&nbsp;Yes</label><br>
      <input id="home_visit_no" name="home_visit" type="radio" value="No" required><label for="home_visit_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
    <div class="large-6 columns">
      <label class="required">Do you accept that there will be an adoption fee for the adopted dog?</label>
      <input id="accept_fee_yes" name="accept_fee" type="radio" value="Yes" required><label for="accept_fee_yes">&nbsp;Yes</label><br>
      <input id="accept_fee_no" name="accept_fee" type="radio" value="No" required><label for="accept_fee_no">&nbsp;No</label>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="previous_vets" class="required">Please provide the name and phone number of any vets used in the past 5 years.</label>
      <textarea id="previous_vets" name="previous_vets" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="applied_other_rescues" class="required">Have you applied with any other rescues? If so, what is the status of those applications?</label>
      <textarea id="applied_other_rescues" name="applied_other_rescues" required></textarea>
      <small class="error">Required</small>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="hear_about_scsr">How did you hear about South Carolina Sheltie Rescue?</label>
      <textarea id="hear_about_scsr" name="hear_about_scsr"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label for="additional_info">Is there any additional information you would like to share?</label>
      <textarea id="additional_info" name="additional_info"></textarea>
    </div>
  </div>

  <p>By submitting this form, I am attesting to the truthfulness of my answers and granting SC Sheltie Rescue permission to contact my veterinarian for a reference. I understand that falsification of any of the above information will be grounds to disallow the adoption of a rescue Sheltie.</p>
  <p>NOTE: If you are under 18 years of age, a parent or guardian must also sign the application. Thank you for considering a dog from South Carolina Sheltie Rescue. If you have any questions, or if we can be of assistance, please do not hesitate to <a href="mailto:amanda@southcarolinasheltierescue.com">email</a> us.</p>
  <p><strong>We reserve the right to refuse any applicant.</strong></p>

  <input id="submit" name="submit" type="submit" class="large button expand" value="Submit">

</form>